<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cmput301f17t01.bronzify">

    <uses-permission
        android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission
        android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Bronzify">
        <activity
            android:name=".activities.LoginActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.MyHomeActivity"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".activities.MyHabitsActivity"
            android:label="@string/title_activity_my_habits" />
        <activity
            android:name=".activities.CreateNewHabitTypeActivity"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/title_activity_create_new_habit" />
        <activity
            android:name=".activities.MyHistoryActivity"
            android:label="@string/title_activity_habit_history" />
        <activity
            android:name=".activities.MyFollowersActivity"
            android:label="@string/title_activity_follow_user" />
        <activity
            android:name=".activities.HabitDueActivity"
            android:label="@string/title_activity_habit_due" />
        <activity
            android:name=".activities.MyMapActivity"
            android:label="@string/title_activity_my_map" />
        <activity
            android:name=".activities.MyProfileActivity"
            android:label="@string/title_activity_my_profile" />
        <activity
            android:name=".activities.HabitEventActivity"
            android:windowSoftInputMode="adjustPan"
            android:label="Habit Event"/>

        <activity
            android:name=".activities.LeaderBoardActivity"
            android:label="@string/title_activity_leader_board" />
        <activity
            android:name=".activities.MyFeedActivity"
            android:label="@string/title_activity_my_feed" />
        <activity
            android:name=".activities.HabitTypeActivity"
            android:windowSoftInputMode="adjustPan"/>

        <!-- Maps Android Key -->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDMe6Km07NAN3axMKauXyo4whAbHRJ0Fb4"></meta-data>

        <!-- Maps -->
    </application>

</manifest>